
.idea/compiler.xml
.idea/jarRepositories.xml

/extentreport-results/
/src/test/resources/configs/cookies.json
/debug.log
*/.idea/workspace.xml **/.idea/tasks.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*.iml
modules.xml
.idea/misc.xml

## File-based project format:
*.iws

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*